input.search_blog {
    background: transparent url("../images/searchIcon.png") no-repeat 13px center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  
  }
  .input-group {
    width: 95%;
  }
  .card_BlogDetails{
    width: 25rem;
}
  .title{
      font-size: 23px;
      font-weight: bold;
      padding-top: 20px;
  
  }
  .paragraph{
      text-align: justify;
      font-size: 18px;
  }
  @media screen and (max-width:768px) {
      .title{
          font-size: 19px;
      }
      .paragraph{
          font-size: 17px;
      }
      .card_BlogDetails{
        width: 18rem;
    }
  }