@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  .container_checkout {
margin-top: 101pt; 
 }
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  .delivery{
    max-width:500pt;
    max-height: 500pt;
    border: 2px solid #999797;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.delivery_days{
    font-size: 13px;
}
.type_delivery{
    margin:2% 2% 0 2% ;
    display: flex;
    justify-content: space-between;
}
.paymentOption{
    max-width:400pt;
    max-height: 500pt;
    background-color: #EAE4E4;
}